:root {
  --abstand-m: 20px;
  --abstand-s: 15px;
  --abstand-xs: 10px;
  }

  ::-webkit-scrollbar {  
    width: 15px; 
    background: rgb(243, 243, 243);
  }

  ::-webkit-scrollbar-thumb{
    background-color: rgb(120, 134, 107);
    border-radius: 20px;
  }

* {
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  }

  .wrapper{
    width: 88vw;
    margin: 0 auto;
  }

  
  h1{
  font-family: 'Arial Black', sans-serif;
  font-size: 6em;
  }
  
  h2{
  font-size: 2.2em;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  } 

  h1, h2{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  }

  p{
    text-align: justify;
    text-align-last: none;
    line-height: 24px; /* Setzt den Zeilenabstand auf 24 Pixel */
  }
  
  .marginTop-70{
  margin-top: 70vh;
  }
  
  .flex{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  }
  
  .toolbar{
      margin: 0; 
  }

/*****************INDEX.HTML******************/
/*****************INDEX.HTML******************/
/*****************INDEX.HTML******************/

/*****************HEADER UND NAV******************/
.Navigation .flex{
align-items: center;
}
  
header .Navigation .col-80{
    text-align: right;
    }

.col-10{
  flex: 1 0 4%;
  display: inline-block;
  }

.col-20{
  flex: 1 0 18%;
  display: inline-block;
  }

.col-80{
  flex: 1 0 78%;
  display: inline-block;
  }

.col-90{
  flex: 1 0 92%;
  display: inline-block;
  }

.col-20 img{
width: 60%;
}

.navigation{
/*position: fixed;*/
width: 100%;
background-color: black;
top: 0;
padding: 20px 0;
left: 0;
margin: 0;
}

.navigation-startseite{
display: flex;
justify-content: flex-end;

}

.navigation-ausrichtung{
    margin-top: 30px;
}

li{
text-decoration: none;
list-style-type: none;
display: inline;
margin: 0 10px;
padding: 0 8px;
}

li a{
text-decoration: none;
color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: black;
}

li a:hover{
  color: rgb(120, 134, 107);
  text-decoration: underline;
  }


/*********************BILDER**************************/
.col-50{
  flex: 1 0 48%;
  display: inline-block;
}

#slideshow{
    /*position: absolute;*/
  width: 40vw;
  height: auto;
  z-index: -1;
  top: 12vh;
  left: 0;
  }

  /*********************SLIDESHOW**************************/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}*/

.active, .dot:hover {
  background-color: rgb(120, 134, 107);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*********************BUTTONS**************************/
button {
    padding: 10px 15px;
    background-color: rgb(120, 134, 107);
    margin: 20px 0;
    border: 1px solid rgb(120, 134, 107);
}

button a{
    color: white;
}


button:hover{
    background-color:white;
}

button:hover a{
    color: rgb(120, 134, 107);
}

/*********************TEXT UND VIDEO AUF HOME**************************/
h2{
    margin: 20px 0 10px 0;
}

.portrait{
    margin: 40px 0 0 0;
}

.toolbar{
    padding-bottom: 20px;
}

.fluid-yt {
    aspect-ratio: 16 / 9;
    margin-top: 40px;
}

.fluid-yt .startvideo {
    width: 99vw;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 15vh;
    z-index: 0;
}

/*********************ANIMIERTER PFEIL**************************/
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-container {
  width: 1px;
  height: 44px;
  position: absolute;
  margin-bottom: 100px;  
  top: 80vh;
  left: 50vw;
}

.container h5{
  position: absolute;
  top: 75vh;
  color: white;
  padding-left: 20px;
  text-transform: uppercase;
}

.line {
  position: absolute;
  z-index: 10;
  width: 2px;
  height: 0px;
  background-color: #fff;
  top: 0;
  bottom: initial;
  animation: line-animation 2.5s ease-in-out 0s infinite normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.line::before {
  content: " ";
  width: 16px;
  height: 16px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 0;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal;
}

@keyframes line-animation {
  0% {
    height: 0px;
    top: 0px;
    opacity: 0;
  }
  50% {
    height: 44px;
    top: 0px;
    opacity: 1;
  }
  100% {
    height: 0px;
    top: 44px;
    opacity: 0;
  }
}

@keyframes arrow-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*********************ZITAT****************************/
.zitat{
  background-color: rgb(120, 134, 107);
  padding: 20px 0;
  margin: 10vh 0;
}

.zitat p{
  text-align: center;
  color: white;
  font-size: 1.1em;
  font-weight: 100;
}
.zitat p span{
  font-size: 0.8em;
  font-style: italic;
}


.zitateslideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlideszitat {
  display: none;
}

/***********************FOOTER***************************/
footer{
  border-top: 2px solid black;
  margin-top: 10vh;
}

.copyright{
  border-top: 1px solid rgb(120, 134, 107);
  padding-top: 20px;
}

.copyright p{
  color: rgb(120, 134, 107);
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 20px;;
}

footer li, footer li a{
  color: black;
}

footer nav{
  text-align: center;
}

footer .flex{
  align-items: center;
  padding: 20px 0;
}

.col-10 img{
  width:100%;
}
/*****************PORTRAETVIDEOS.HTML******************/
/*****************PORTRAETVIDEOS.HTML******************/
/*****************PORTRAETVIDEOS.HTML******************/
#portraetvideoscontainer{
margin-top: var(--abstand-m);
display: grid;
grid-template-columns: repeat(2, 500px);
grid-gap: 20px; /* Fügt Abstand zwischen den Elementen hinzu*/
margin-bottom: 40px;
justify-content: center;
}
#portraetvideoscontainer iframe{
  width: 100%;
  height: 315px;

}


/*****************NEWS.HTML******************/
/*****************NEWS.HTML******************/
/*****************NEWS.HTML******************/
#rssFeedCards{
  display: grid;
  grid-template-columns: repeat(4, 250px); /* Erstellt drei gleich breite Spalten */
  grid-gap: 50px; /* Fügt Abstand zwischen den Elementen hinzu*/
  margin-top: 25px;
  margin-bottom: 40px;
}

#rssFeedCards h4{
  font-size: 1em;
  text-transform: uppercase;
  color: white;
}

#rssFeedCards p{
  margin-top: 20px;
  text-align: left;
  margin-bottom: 25px;
  color: white;
}

#rssFeedCards a{
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  margin-top: 25px;
  display: block; /* Macht den Button zu einem Block-Element */
  margin: 0 auto; /* Zentriert den Button horizontal im Container */
  text-align: center;
}

#rssFeedCards a:hover{
  background-color: white;
  color:rgb(120, 134, 107);
}

.card{
  background-color: rgb(120, 134, 107);
  padding: 15px 20px 30px 20px;
  width: 15vw;
  justify-content: center;
}

.card img{
  width: 102%;
  margin-top: 1px;
  margin-left: -1px;
  margin-bottom: 20px;
}


/*****************TOOLBAR.HTML******************/
/*****************TOOLBAR.HTML******************/
/*****************TOOLBAR.HTML******************/
#toolcontainer {
  display: grid;
  grid-template-columns: repeat(3, 250px); /* Erstellt drei gleich breite Spalten */
  grid-gap: 10px; /* Fügt Abstand zwischen den Elementen hinzu */
  margin-top: 25px;
  margin-bottom: 40px;
  justify-content: center;
}

article {
  width: 250px;
  background-color: rgb(120, 134, 107);
  color: rgb(120, 134, 107);
  text-align: center;
}

img.bilderintoolbar {
  max-width: 50%;  
}

.texttoolbar{
margin-top: var(--abstand-xs);
}

article a{
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  padding: 15px;
}

article:hover{
  background-color:white;
}

article:hover a{
  color: rgb(0, 0, 0);
}

/* Ändere das Logo auf schwarz, wenn der Benutzer darüber fährt (Hover) */
#toolcontainer a:hover .bilderintoolbar {
  filter: invert(1);
  
}


/*****************RESPONSIVE******************/
/*****************RESPONSIVE******************/
/*****************RESPONSIVE******************/

/* Stile für große Bildschirme */
@media (min-width: 1024px) {
.navigation {
  padding: 20px 0;
}

h1 {
  font-size: 7em;
}

#slideshow {
  width: 50vw;
}

.zitateslideshow-container {
  max-width: 100%;
}

#toolcontainer {
  grid-template-columns: repeat(3, 250px);
}

footer {
  margin-top: 20vh;
}
}

/* Stile für mittlere Bildschirme */
@media (max-width: 1023px) and (min-width: 768px) {
  .navigation {
    padding: 15px 0;
  }

  h1 {
    font-size: 5em;
  }

  #slideshow {
    width: 70vw;
  }

  .zitateslideshow-container {
    max-width: 90%;
  }

  #toolcontainer {
    grid-template-columns: repeat(2, 250px);
  }

  footer {
    margin-top: 15vh;
  }
}


/* Stile für kleine Bildschirme */
@media (max-width: 767px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .col-80 {
    text-align: center;
    margin-top: 15px;
  }

  #slideshow {
    width: 80vw;
  }

  .zitateslideshow-container {
    max-width: 80%;
  }

  #toolcontainer {
    grid-template-columns: repeat(2, 1fr); /* Zum Beispiel zwei Spalten für kleinere Bildschirme */
  }

  footer {
    padding-top: 10px;
  }
}











