:root {
  --abstand-m: 20px;
  --abstand-s: 15px;
  --abstand-xs: 10px;
  }

  ::-webkit-scrollbar {  
    width: 15px; 
    background: rgb(243, 243, 243);
  }

  ::-webkit-scrollbar-thumb{
    background-color: rgb(120, 134, 107);
    border-radius: 20px;
  }

* {
  font-size: 1em;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  }

  .wrapper{
    width: 88vw;
    margin: 0 auto;
  }

  
  h1{
  font-family: 'Arial Black', sans-serif;
  font-size: 6em;
  }
  
  h2{
  font-size: 2.2em;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  } 

  h1, h2{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  }

  p{
    text-align: justify;
    text-align-last: none;
    line-height: 24px; /* Setzt den Zeilenabstand auf 24 Pixel */
  }
  
  .marginTop-70{
  margin-top: 70vh;
  }
  
  .flex{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  }
  
  .toolbar{
      margin: 0; 
  }

/*****************INDEX.HTML******************/
/*****************INDEX.HTML******************/
/*****************INDEX.HTML******************/

/*****************HEADER UND NAV******************/
.Navigation .flex{
align-items: center;
}
  
header .Navigation .col-80{
    text-align: right;
    }

.col-10{
  flex: 1 0 4%;
  display: inline-block;
  }

.col-20{
  flex: 1 0 18%;
  display: inline-block;
  }

.col-80{
  flex: 1 0 78%;
  display: inline-block;
  }

.col-90{
  flex: 1 0 92%;
  display: inline-block;
  }

.col-20 img{
width: 60%;
}

.navigation{
width: 100%;
background-color: black;
top: 0;
padding: 20px 0;
left: 0;
margin: 0;
z-index: 2;
position: relative;
}

.navigation-startseite{
display: flex;
justify-content: flex-end;

}

.navigation-ausrichtung{
    margin-top: 30px;
}

li{
text-decoration: none;
list-style-type: none;
display: inline;
margin: 0 10px;
padding: 0 8px;
}

li a{
text-decoration: none;
color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    color: black;
}

li a:hover{
  color: rgb(120, 134, 107);
  text-decoration: underline;
  }

/*******************BURGER*******************/

label{
  display: none;
}

label .menu {
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: rgb(120, 134, 107);
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: white;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw rgb(120, 134, 107), 0 0 0 100vh rgb(120, 134, 107);
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
}

label a {
  margin-bottom: 2em;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  
}
label li {
  float: left;
  text-align: center;
  clear: both;
}

label li p{
  color: white;
  font-size: 0.8em;
  font-style: italic;
  text-align: left;

}


/*********************BILDER**************************/
.col-50{
  flex: 1 0 48%;
  display: inline-block;
}

#slideshow{
    /*position: absolute;*/
  width: 40vw;
  height: auto;
  z-index: -1;
  top: 12vh;
  left: 0;
  }

  /*********************SLIDESHOW**************************/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*********************BUTTONS**************************/
button {
    padding: 10px 15px;
    background-color: rgb(120, 134, 107);
    margin: 20px 0;
    border: 1px solid rgb(120, 134, 107);
}

button a{
    color: white;
}

button:hover{
    background-color:white;
}

button:hover a{
    color: rgb(120, 134, 107);
}

/*********************TEXT UND VIDEO AUF HOME**************************/
h2{
    margin: 20px 0 10px 0;
}

.portrait{
    margin: 40px 0 0 0;
}

.toolbar{
    padding-bottom: 20px;
}

.fluid-yt {
    aspect-ratio: 16 / 9;
    margin-top: 40px;
}

.fluid-yt .startvideo {
    width: 99vw;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 15vh;
    z-index: 0;
}

/*********************ANIMIERTER PFEIL**************************/
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-container {
  width: 1px;
  height: 44px;
  position: absolute;
  margin-bottom: 100px;  
  top: 80vh;
  left: 50vw;
}

.container h5{
  position: absolute;
  top: 75vh;
  color: white;
  padding-left: 20px;
  text-transform: uppercase;
}

.line {
  position: absolute;
  z-index: 10;
  width: 2px;
  height: 0px;
  background-color: #fff;
  top: 0;
  bottom: initial;
  animation: line-animation 2.5s ease-in-out 0s infinite normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.line::before {
  content: " ";
  width: 16px;
  height: 16px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(45deg);
  display: block;
  position: absolute;
  bottom: 0;
  animation: arrow-animation 2.5s ease-in-out 0s infinite normal;
}

@keyframes line-animation {
  0% {
    height: 0px;
    top: 0px;
    opacity: 0;
  }
  50% {
    height: 44px;
    top: 0px;
    opacity: 1;
  }
  100% {
    height: 0px;
    top: 44px;
    opacity: 0;
  }
}

@keyframes arrow-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*********************ZITAT****************************/
.zitat{
  background-color: rgb(120, 134, 107);
  padding: 20px 0;
  margin: 10vh 0;
}

.zitat p{
  text-align: center;
  color: white;
  font-size: 1.1em;
  font-weight: 100;
}

.zitat p span{
  font-size: 0.8em;
  font-style: italic;
}

.zitateslideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.mySlideszitat {
  display: none;
}

/***********************FOOTER***************************/
footer{
  border-top: 2px solid black;
  margin-top: 10vh;
}

.copyright{
  border-top: 1px solid rgb(120, 134, 107);
  padding-top: 20px;
}

.copyright p{
  color: rgb(120, 134, 107);
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 20px;;
}

footer li, footer li a{
  color: black;
}

footer nav{
  text-align: center;
}

footer .flex{
  align-items: center;
  padding: 20px 0;
}

.col-10 img{
  width:100%;
}
/*****************PORTRAETVIDEOS.HTML******************/
/*****************PORTRAETVIDEOS.HTML******************/
/*****************PORTRAETVIDEOS.HTML******************/
#portraetvideoscontainer{
margin-top: var(--abstand-m);
display: grid;
grid-template-columns: repeat(2, 500px);
grid-gap: 20px; /* Fügt Abstand zwischen den Elementen hinzu*/
margin-bottom: 40px;
justify-content: center;
}
#portraetvideoscontainer iframe{
  width: 100%;
  height: 315px;
}

/*****************NEWS.HTML******************/
/*****************NEWS.HTML******************/
/*****************NEWS.HTML******************/
#rssFeedCards{
  display: grid;
  grid-template-columns: repeat(4, 250px); /* Erstellt drei gleich breite Spalten */
  grid-gap: 50px; /* Fügt Abstand zwischen den Elementen hinzu*/
  margin-top: 25px;
  margin-bottom: 40px;
}

#rssFeedCards h4{
  font-size: 1em;
  text-transform: uppercase;
  color: white;
}

#rssFeedCards p{
  margin-top: 20px;
  text-align: left;
  margin-bottom: 25px;
  color: white;
}

#rssFeedCards a{
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  margin-top: 25px;
  display: block; /* Macht den Button zu einem Block-Element */
  margin: 0 auto; /* Zentriert den Button horizontal im Container */
  text-align: center;
}

#rssFeedCards a:hover{
  background-color: white;
  color:rgb(120, 134, 107);
}

.card{
  background-color: rgb(120, 134, 107);
  padding: 15px 20px 30px 20px;
  width: 15vw;
  justify-content: center;
}

.card img{
  width: 102%;
  margin-top: 1px;
  margin-left: -1px;
  margin-bottom: 20px;
}

/*****************TOOLBAR.HTML******************/
/*****************TOOLBAR.HTML******************/
/*****************TOOLBAR.HTML******************/
#toolcontainer {
  display: grid;
  grid-template-columns: repeat(3, 250px); /* Erstellt drei gleich breite Spalten */
  grid-gap: 10px; /* Fügt Abstand zwischen den Elementen hinzu */
  margin-top: 25px;
  margin-bottom: 40px;
  justify-content: center;
}

article {
  width: 250px;
  background-color: rgb(120, 134, 107);
  color: rgb(120, 134, 107);
  text-align: center;
}

img.bilderintoolbar {
  max-width: 50%;  
}

.texttoolbar{
margin-top: var(--abstand-xs);
}

article a{
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  padding: 15px;
}

article:hover{
  background-color:white;
}

article:hover a{
  color: rgb(0, 0, 0);
}

/* Ändere das Logo auf schwarz, wenn der Benutzer darüber fährt (Hover) */
#toolcontainer a:hover .bilderintoolbar {
  filter: invert(1);
}

/*****************RESPONSIVE******************/
/*****************RESPONSIVE******************/
/*****************RESPONSIVE******************/

/*Grosse Bildschirme*/
@media (min-width: 1080px) {

.fluid-yt .startvideo {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 10vh;
  z-index: 0;
  }

.portrait {
  margin: 17vh 0 0 0;
  }
}

/*Tablet*/
@media (max-width: 1024px) {

  .col-20 {
    flex: 1 0 16%;
    display: inline-block;
    }

  .fluid-yt .startvideo {
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
    left: 0;
    top: 9vh;
    z-index: 0;
  }

  #portraetvideoscontainer {
    grid-template-columns: none;
   }

   #rssFeedCards{
    display: grid;
    grid-template-columns: repeat(3, 300px); /* Erstellt drei gleich breite Spalten */
    grid-gap: 20px; /* Fügt Abstand zwischen den Elementen hinzu*/
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .card{
    width: 30vw;
  }
  
  .portrait {
    margin: -4vh 0 0 0;
  }

  .col-10 img {
    width: 6%;
    float: right;
  }

  h2 {
    margin: 50px 0 10px 0;
  }

}

/*Kleine Bildschirme*/
@media (max-width: 767px) {

  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .col-80 {
    text-align: center;
    margin-top: 15px;
  }

  #slideshow {
    width: 80vw;
  }

  #toolcontainer {
    grid-template-columns: repeat(2, 1fr); /*zwei Spalten für kleinere Bildschirme*/
  }

  .col-10 img {
    width: 6%;
    float: right;
  }

  header nav{
  display: none;
  }

  label{
  display: table;
  }

  header .flex{
    gap: 0;
  }

  .fluid-yt .startvideo {
    top: 8vh;
  }

  .container h5 {
    top: 40vh;
  }

  .line-container{
    top: 43vh;
  }

  .portrait {
    margin: 6vh 0 0 0;
  }

  h2 {
    margin: 60px 0 10px 0;
  }

 #portraetvideoscontainer, #rssFeedCards, #toolcontainer {
    grid-template-columns: none;
   }
   
  .card{
    width: 70vw;
  }


/*Handy*/
@media (max-width: 450px) {
 
  .fluid-yt .startvideo {
    height: 35%;
    top: 5vh;
  }

  .container h5 {
    top: 35vw;
  }

  .line-container{
    top: 20vh;
  }

  .portrait {
    margin: 6vh 0 0 0;
    }

  p {
  text-align: left;
  }

 .col-90{
  flex: 1 0 92%;
 }

 #portraetvideoscontainer, #rssFeedCards, #toolcontainer {
  grid-template-columns: none;
 }
  
 label .menu{
  right: -66px;
 }

 .card{
  width: 70vw;
}

.col-20 img{
  width:90%;
}

h2 {
  margin: 73px 0 10px 0;
}
}
}